<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {{n}}
        <form method="POST" action="{% url 'for_pas' %}">
            {% csrf_token %}
            <div>
               <label>Enter your emilid</label><br>
               <input type="email" name="email">
            <div>
               <input type="submit" name="submit" value="getotp">
    
    </form>
    </div>
</body>
</html>